name: CI - Build, Scan, Push & Sign

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-secure-and-sign:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      
    steps:
      - name: Checkout DevOps Repo
        uses: actions/checkout@v4

      - name: Checkout WebApp Code (Persona A)
        uses: actions/checkout@v4
        with:
          repository: andr3sEnrique/devops-web-app
          path: site-source

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.5.0

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-secure-app:latest .

      - name: Run Trivy Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/my-secure-app:latest'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: 'trivy-report.txt'

      - name: Upload Trivy Artifact
        uses: actions/upload-artifact@v4
        with:
          name: security-report-trivy
          path: trivy-report.txt

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/my-secure-app:latest

      - name: Sign image with a key
        run: |
          cosign sign --yes --key env://COSIGN_PRIVATE_KEY ${{ secrets.DOCKER_USERNAME }}/my-secure-app:latest
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

      - name: Verify image signature
        run: |
          cosign verify --key env://COSIGN_PUBLIC_KEY ${{ secrets.DOCKER_USERNAME }}/my-secure-app:latest
        env:
          COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
