name: CI - Build & Security Scan
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout de TU repositorio (el que tiene el Dockerfile)
      - name: Checkout DevOps Repo
        uses: actions/checkout@v4

      # 2. Checkout del repositorio de tu compa침ero (Persona A)
      # Esto descarga su c칩digo y lo pone en una carpeta llamada 'site-source'
      - name: Checkout WebApp Code (Persona A)
        uses: actions/checkout@v4
        with:
          # 游녢游녢 춰CAMBIA ESTO POR EL USUARIO Y REPO DE TU COMPA칌ERO! 游녢游녢
          repository: andr3sEnrique/devops-web-app 
          path: site-source

      # 3. Construir la imagen Docker
      # Docker usar치 el Dockerfile de tu repo y buscar치 la carpeta 'site-source'
      - name: Build Docker Image
        run: docker build -t my-secure-app:latest .

      # 4. Escaneo de vulnerabilidades con Trivy
      - name: Run Trivy Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'my-secure-app:latest'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: 'trivy-report.txt'

      - name: Show Scan Results
        run: cat trivy-report.txt

      - name: Upload Trivy Artifact
        uses: actions/upload-artifact@v4
        with:
          name: security-report-trivy
          path: trivy-report.txt
